<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.12.2022</small>
  </div>

  <div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, id minus. Dignissimos itaque, quam animi a autem minus veritatis eligendi.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, id minus. Dignissimos itaque, quam animi a autem minus veritatis eligendi.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, id minus. Dignissimos itaque, quam animi a autem minus veritatis eligendi.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, id minus. Dignissimos itaque, quam animi a autem minus veritatis eligendi.</p>
  </div>
</div>