<form class="card" [formGroup]="adminLoginForm" (ngSubmit)="submit()">
  <h2>Enter Admin Panel</h2>
  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    <p>{{error}}</p>
  </div>
  <div class="alert alert-danger" *ngIf="message">
    <p>{{message}}</p>
  </div>

  <div class="form-control">
    <label for="email">
      <span>Email:</span>
      <input type="email" name="email" id="email" formControlName="email">
    </label>
    <div *ngIf="adminLoginForm.get('email').touched && adminLoginForm.get('email').invalid" class="validation">
      <small *ngIf="adminLoginForm.get('email').errors.required">Email is required</small>
      <small *ngIf="adminLoginForm.get('email').errors.email">Email is Invalid</small>
    </div>
  </div>
  <div class="form-control">
    <label for="password">
      <span>Password:</span>
      <input type="password" name="password" id="password" formControlName="password">
    </label>
    <div *ngIf="adminLoginForm.get('password').touched && adminLoginForm.get('password').invalid" class="validation">
      <small *ngIf="adminLoginForm.get('password').errors.required">Password is required</small>
      <small *ngIf="adminLoginForm.get('password').errors.minlength">Password is min 6 characters</small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="adminLoginForm.invalid">Log In
  </button>
</form>